<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRToolsLibrary.Properties.Settings.PRToolConnectionString"
            connectionString="Data Source=CATWEBMX;Initial Catalog=PRTool;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>